# MongoDB Atlas povezava
# Zamenjaj z dejanskimi podatki iz MongoDB Atlas nadzorne plošče (Database -> Connect -> Drivers)
MONGO_URI=mongodb+srv://yourData

# Vrata za lokalni backend strežnik
PORT=3000
